body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0;
    padding: 0;
}

:root {
    --textcolor-black: #212121;
    --textcolor-grey: #757575;
    --linkcolor-blue: #2196F3;
    --color-white: #ffffff;
    --color-totalblack: #000000;
    --color-border: #eeeeee;
    --backgroundcolor-hero-footer: #2F303A;
    --backgroundcolor-team: #F5F4FA;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
} 

.logo-header,
.logo-footer {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--linkcolor-blue);
    text-decoration: none;
}
.logo-header > span {
    color: var(--color-totalblack);
}
.logo-footer span {
    color: var(--color-white);
}

.header {     
    border-bottom: 1px solid #ECECEC;
}
.header-contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textcolor-grey);
}
.header-contact-link:hover {
    color: var(--linkcolor-blue);
}
.header-contact-link:focus {
    color: var(--linkcolor-blue);
}

.nav-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textcolor-black);
}
.nav-item-link:hover {
    color: var(--linkcolor-blue);
}
.nav-item-link:focus {
    color: var(--linkcolor-blue);
}

.header {
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row; */
    align-items: center;
    justify-content: space-between;

    height: 80px;
    /* vertical-align: middle; */
    padding: 0 215px;
}

.nav-items {
    width: 281px;
}
.header-contacts{
    width: 307px;
}

.main-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--backgroundcolor-hero-footer);
}
.main-hero-title{
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 200px 450px 30px 450px;
}
.hero-button {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: var(--linkcolor-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-white);
    margin-bottom: 200px;
}

.benefits {
    padding: 94px 215px;
}
.benefits-items {
    display: flex;
    justify-content: space-between;
}
.benefits-item>h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--textcolor-black);
    margin-bottom: 10px;
}
.benefits-item>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--textcolor-grey);
    width: 270px;
}

.works {
    padding: 0 215px 94px 215px;
}
.works>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--textcolor-black);
    margin-bottom: 50px;
}

.team {
    padding: 94px 215px;
    background: var(--backgroundcolor-team);
}
.team>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--textcolor-black);
    margin: 0;
    margin-bottom: 50px;
}
.team-item {
    width: 270px;
    height: 368px;
    background-color: var(--color-white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item>h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--textcolor-black);
    margin: 30px 0 10px 0;
}
.team-item>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--textcolor-grey);
    margin: 0;
    margin-bottom: 30px;
}


.footer {
    /* width: 1600px;
    height: 252px; */
    background: var(--backgroundcolor-hero-footer);
    padding: 60px 215px;
}

.address {
    margin-top: 20px;
    font-style: normal;
}
.footer-contacts {
    display: block;
}
.footer-contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts [href="https://goo.gl/maps/Ki57or2TvZPJZ8mEA"] {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white);
}
.footer-contacts a:hover {
    color: var(--linkcolor-blue);
}
.footer-contacts a:focus {
    color: var(--linkcolor-blue);
}



/* портфоліо */

.main-portfolio {
    width: 1170px;
    height: 100%;
    padding: 94px 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-buttons {
    margin-bottom: 50px;
    width: 575px;
}
.portfolio-buttons button {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--textcolor-black);
}
.portfolio-buttons button:hover {
    background: var(--linkcolor-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;

    color: var(--color-white);
}
.portfolio-buttons button:focus {
    background: var(--linkcolor-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;

    color: var(--color-white);
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}

/* .portfolio-items li */
.box {
    width: 370px;
    height: 404px;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    margin-bottom: 27px;
}
.portfolio-items h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--textcolor-black);
    margin: 0;
    margin-bottom: 4px;
    margin-top: 20px;
    margin-left: 24px;
}
.portfolio-items p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--textcolor-grey);
    margin: 0;
    margin-bottom: 20px;
    margin-left: 24px;
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    display: none;
}

@keyframes a1{
    opacity: 0;
    width: 0;
    height: 0;
}


@media (max-width: 1200px) {
    .main-portfolio {
        max-width: 970px;
        height: 100%;
        padding: 94px 0;
    }
}

@media (max-width: 992px) {
    .main-portfolio {
            max-width: 750px;
            height: 100%;
            padding: 94px 0;
        }
}

@media (max-width: 767px) {
    .main-portfolio {
        max-width: none;
        height: 100%;
        padding: 94px 0;
    }
}